<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/styles.css" rel="stylesheet" />
    <script src="/static/htmx.min.js"></script>
    <title>Clipper</title>
    <script>
      htmx.onLoad((e) => {
        const key = document.getElementById("key");
        if (key) {
          key.focus();
          return;
        }
        const content = document.getElementById("content");
        if (content) {
          content.focus();
        }
      });
    </script>
  </head>
  <body class="bg-stone-50">
    <header class="py-10">
      <h1 class="text-4xl text-center font-sans"><a href="/">Clipper</a></h1>
    </header>
    <div id="main">{{ embed }}</div>
  </body>
</html>
